<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Document</title>
<style>
     a {
        color:blue;
     }
     p{
      display: inline;
     }
</style>
</head>
<body style="background-color: black;margin:10%">
  <div class="container">
    <h1 style="color: aliceblue;">URL Shortner</h1>
    <h6 style="padding: 4px;color: rgb(109, 119, 118)">- Codeclause project</h6>
    <form action="/" method="POST" class="my-4 form-inline">
      <label for="fullUrl" class="sr-only">Url</label>
      <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
      <button style="background-color: rgb(0, 255, 72); color:black" class="btn btn-success" type="submit">Shrink</button>
    </form>
    
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th style="color: aliceblue;" >Full URL</th>
          <th style="color: aliceblue;">Short URL</th>
          <th style="color: aliceblue;">Clicks</th>
          <th style="color: aliceblue;">Timestamp(History)</th>

          <
        </tr>
      </thead>
      <tbody>
        <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td><a href="<%= shortUrl.redirectURL %>" target="blank"> <%= shortUrl.redirectURL %></a></td>
            <td><a href="<%= shortUrl.shortId %>" target="blank"> <%= shortUrl.shortId %></a></td>
            <td><p style="color: blue;"><%= shortUrl.visitHistory.length %></p></td>
            <td>
              <% shortUrl.visitHistory.forEach(hist=>{    %>

                <p style="color: blue;"> <%= hist.timestamp %>
            <% }) %>
          </p></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>